pyvenv.cfg
*.bak
*.pyc
*.txt
*.csv
.coverage
.cache
*.swp
*.tsv
htmlcov
*.log
*.class
json-loader/.gradle
json-loader/build
bin/
lib/
lib64
*.egg-info*
include/
!requirements.txt
!all_requirements.txt
tags
cover/
build/
.idea*
dist/
file_plugin_mapping.json
pip-selfcheck.json
.agignore
.project
.pydevproject
*.zip
*.gz
.ipynb_checkpoints/
sosreport*
output/
share/
.Python
.python-version
